body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--gray);
  color: var(--dark);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none;
  user-select: none;
}
:root {
  --dark: #282936;
  --gray: #eceef0;
  --white: #fff;
  --blue: #0072f5;
  --dist: -30px;
  --sw: 50px;
  --sh: 28px;
  --p: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 100px 0;
}
.switch__wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
}
.switch {
  appearance: none;
  display: flex;
  width: var(--sw);
  height: var(--sh);
  background-color: gray;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
}
.switch__circle {
  position: absolute;
  top: var(--p);
  left: var(--p);
  width: calc(var(--sh) - var(--p) - var(--p));
  height: calc(var(--sh) - var(--p) - var(--p));
  border-radius: 50%;
  background-color: var(--gray);
  pointer-events: none;
  z-index: 2;
  transition: 0.3s;
}

.switch:checked {
  background-color: #0072f5;
}
.switch:checked + .switch__circle {
  transform: translateX(calc(var(--sw) - var(--sh)));
}

.learn__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.learn {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark);
  transition: 0.5s;
}
.circle {
  position: absolute;
  display: flex;
  align-items: center;
  left: var(--dist);
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 20px;
  margin-right: 5px;
  background-color: var(--dark);
  transition: 0.4s;
}
.learn__wrapper:hover .learn {
  color: var(--gray);
}
.learn__wrapper:hover .circle {
  width: calc(100% - var(--dist) + 20px);
}
.learn__wrapper:hover .arrow {
  background-color: var(--gray);
  transform: translateX(3px);
}
.arrow {
  position: relative;
  left: 10px;
  width: 10px;
  height: 1.2px;
  background-color: none;
  transition: 0.4s;
  transform: translateX(-5px);
}
.arrow::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  bottom: -2.5px;
  right: 0;
  border-top: 1.2px solid var(--gray);
  border-right: 1.2px solid var(--gray);
  transform: rotate(45deg);
}
.hoverme__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hoverme {
  position: relative;
  border-radius: 20px;
  padding: 8px 16px;
  color: var(--dark);
  background-color: var(--white);
  transition: 0.3s;
  z-index: 2;
}
.hoverme-border {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid var(--white);
  transition: 0.3s;
  z-index: 1;
}
.hoverme:hover + .hoverme-border {
  width: calc(100% + 6px);
  height: calc(100% + 6px);
}
.buyt__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--dark);
  border: 1px solid var(--dark);
  padding: 10px 12px;
  transition: 0.3s;
}
.buyt {
  font-size: 12px;
  font-weight: 700;
}
.line {
  width: 16px;
  height: 1px;
  background-color: var(--dark);
  margin-right: 8px;
  transition: 0.3s;
}
.line-up {
  position: absolute;
  top: -1px;
  left: 6px;
  width: 16px;
  height: 1px;
  background-color: var(--gray);
  transition: 0.3s;
}
.line-bottom {
  position: absolute;
  bottom: -1px;
  right: 20px;
  width: 16px;
  height: 1px;
  background-color: var(--gray);
  transition: 0.3s;
}
.line-bottom2 {
  position: absolute;
  bottom: -1px;
  right: 6px;
  width: 8px;
  height: 1px;
  background-color: var(--gray);
  transition: 0.3s;
}
.buyt__wrapper:hover .line {
  width: 10px;
  background-color: var(--gray);
}
.buyt__wrapper:hover .line-up {
  transform: translateX(-6px);
  width: 0px;
}
.buyt__wrapper:hover .line-bottom {
  transform: translateX(20px);
  width: 0px;
}
.buyt__wrapper:hover .line-bottom2 {
  transform: translateX(6px);
  width: 0px;
}
.buyt__wrapper:hover {
  background-color: var(--dark);
  color: var(--gray);
}
/* ========================== */
.btn-share {
  position: relative;
  background-color: var(--blue);
  border-radius: 30px;
  transition: 0.2s;
  overflow: hidden;
}
.share-upper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: var(--white);
  transition: 0.2s;
}
.share-text {
  margin-right: 5px;
}
.svg-share {
  width: 12px;
  height: 12px;
  fill: var(--white);
}
.share-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s;
}
.btn-share-a {
  width: 12px;
  height: 12px;
}
.btn-share-svg {
  width: 12px;
  height: 12px;
  fill: var(--white);
  transform: translateY(300%);
}
.btn-share-svg:hover {
  fill: var(--dark);
}
.svg-twitter {
  transition: transform 0.2s, fill 0.1s;
}
.svg-codepen {
  transition: transform 0.3s, fill 0.1s;
}
.svg-github {
  transition: transform 0.4s, fill 0.1s;
}
.btn-share:hover {
  border-radius: 0px;
}
.btn-share:hover .share-upper {
  transform: translateY(-100%);
}
.btn-share:hover .btn-share-svg {
  transform: translateY(0%);
}
/* ========================== */
.btn-shop {
  position: relative;
  color: var(--white);
  border-radius: 50px;
  border: 4px solid hsl(50deg 100% 50%);
  background-color: hsl(255deg 50% 40%);
  padding: 10px 20px;
  overflow: hidden;
  cursor: pointer;
}
.btn-shop-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: hsl(255deg 50% 40%);
  transition: 0.3s;
}
.btn-shop-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -100%;
  border-radius: 50px;
  border: 1px solid hsl(255deg 50% 49%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(255deg 50% 49%);
  color: hsl(50deg, 100%, 50%);
  transition: 0.3s;
}
.btn-shop:hover .btn-shop-1 {
  transform: translateY(-200%);
}
.btn-shop:hover .btn-shop-2 {
  transform: translateY(-100%);
}
/* ======================= */
.btn-download-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  padding: 10px 20px;
  background-color: #1875ff;
  border-radius: 6px;
  cursor: pointer;
}
.btn-download {
  position: relative;
}
.btn-download .default {
  opacity: 0;
}
.btn-download .hidden-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.3s;
}
.btn-download .hidden-2 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  white-space: nowrap;
  transition: 0.5s;
}
.btn-download-wrapper:hover .hidden-1 {
  left: 0;
  transform: translate(0, -50%);
}
.btn-download-wrapper:hover .hidden-2 {
  opacity: 1;
  right: 0;
  transform: translate(0, -50%);
}
/* =========================== */
.uiverse {
  position: relative;
  font-weight: 600;
  cursor: pointer;
  padding: 0 6px;
}
.uiverse-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #37ff8b;
  transition: 0.5s;
}
.uiverse-text-green {
  position: absolute;
  top: 0;
  left: 6px;
  color: #37ff8b;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}
.uiverse:hover {
  filter: drop-shadow(0 0 23px #37ff8b);
}
.uiverse:hover .uiverse-line {
  left: 100%;
}
.uiverse:hover .uiverse-text-green {
  width: 100%;
}

/* =========================== */
.circle-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
  animation-name: flip;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
}
.circle-white {
  background-image: url(KRAL.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: var(--white);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 3;
}
@keyframes flip {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ========================= */
.btn-getstarted-wrapper {
  --wrapper-p: 4px;
  --arrow-p1: 12px;
  --arrow-p2: 10px;
  --arrow-w: 8px;
  --arrow-h: 1px;
  --gap: 6px;
  background-color: #a370f0;
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
}
.btn-getstarted {
  position: relative;
  height: calc(var(--arrow-h) + 2 * var(--arrow-p1) + 2 * var(--wrapper-p));
  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--wrapper-p);
}
.btn-getstarted span {
  padding-left: 10px;
  padding-right: calc(var(--arrow-w) + 2 * var(--arrow-p1) + var(--gap));
}
.btn-getstarted-arrow-wrapper {
  position: absolute;
  right: var(--wrapper-p);
  left: calc(100% - var(--wrapper-p) - var(--arrow-w) - var(--arrow-p1) - var(--arrow-p2));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--arrow-p1) var(--arrow-p2);
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 16px -6px #000;
  transition: 0.4s;
}
.btn-getstarted-arrow {
  position: relative;
  width: var(--arrow-w);
  height: var(--arrow-h);
  background-color: #a370f0;
}
.btn-getstarted-arrow::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 6px;
  height: 6px;
  transform: translateY(-50%) rotate(45deg);
  border-top: 1px solid #a370f0;
  border-right: 1px solid #a370f0;
}
.btn-getstarted-wrapper:hover .btn-getstarted-arrow-wrapper {
  left: var(--wrapper-p);
}
/* ============================== */
